<app-navbar></app-navbar>

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Management</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia placeat a quas dolor modi rem eos quae earum sunt autem iste obcaecati temporibus voluptates explicabo labore provident maiores, voluptatibus aperiam!</p>

        <button class="btn btn-primary" (click)="onOpenModal('add')">Add employee</button>

    </div>

    <div class="bg-light p-5 rounded mt-4">

        <div class="container" id="main-container">
            <form class="d-flex mb-3" role="search">
                <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
                name="key" class="form-control me-2" placeholder="Search" aria-label="Search">
            </form>
            <div class="row">
                <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
                    <div class="card m-b-30">
                        <div class="card-body row">
                            <div class="col-4">
                                <img src="{{employee?.imageUrl}}" alt=""
                                        class="img-fluid rounded-circle">
                            </div>
                            <div class="col-8 card-title align-self-center mb-0">
                                <h5><strong>{{employee?.name}}</strong></h5>
                                <p class="m-0">{{employee?.jobTitle}}</p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong>Email:
                                </strong>{{employee?.email}}</li>
                            <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Phone: </strong>
                                {{employee?.phone}}</li>
                            <li class="list-group-item"><strong>Employee code: </strong>
                                {{employee?.employeeCode}}</li>
                        </ul>
                        <div class="card-body">
                            <div class="float-right btn-group btn-group-sm">
                                <a (click)="onOpenModal('edit', employee)" class="btn btn-outline-primary tooltips"
                                    data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                <a (click)="onOpenModal('delete', employee)" class="btn btn-outline-danger tooltips"
                                    data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>

<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add employee</h5>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm">
            <div class="form-group mb-2">
               <label for="name">*Full name</label>
               <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Enter full name" required>
            </div>
            <div class="form-group mb-2">
               <label for="email">*Email address</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Enter email address" required>
            </div>
            <div class="form-group mb-2">
               <label for="phone">*Job title</label>
               <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Enter job title" required>
            </div>
            <div class="form-group mb-2">
               <label for="phone">*Phone number</label>
               <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Enter phone number" required>
            </div>
            <div class="form-group">
               <label for="phone">Image URL</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="https://example.com/image.png">
            </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" data-dismiss="modal" class="btn btn-outline-danger">Close</button>
               <button type="button" [disabled]="addForm.invalid" (click)="onAddEmployee(addForm)" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>



<!-- Edit Modal -->
<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateEmployeeModalLabel">Edit employee "{{editEmployee?.name}}"</h5>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
                    <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode">
                    <div class="form-group mb-2">
                        <label for="email">Email</label>
                        <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control"
                            id="email" placeholder="Email">
                    </div>
                    <div class="form-group mb-2">
                        <label for="phone">Job title</label>
                        <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control"
                            id="jobTitle" placeholder="Job title">
                    </div>
                    <div class="form-group mb-2">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control"
                            id="phone" name="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control"
                            id="imageUrl" placeholder="Image URL">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-outline-danger">Close</button>
                        <button type="button" (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete employee</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-white" data-dismiss="modal">No</button>
                    <button (click)="onDeleteEmployee(deleteEmployee?.id!)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>